<html>
<head>
  <script src="/../scripts/jquery.min.js"></script>
  <script src="/../scripts/bootstrap.min.js"></script>
  <script src="/../scripts/angular.min.js"></script>
  <script src="/../app/app.js"></script>
  <script src="/../app/controllers/signin.js"></script>
  <link href="/../css/bootstrap.min.css" rel="stylesheet">
  <link href="/../css/signin.css" rel="stylesheet">
</head>
<body ng-app="TicketApp">

<div class="container" ng-controller="signUpCtrl">

<form class="form-signin" role = "form">
          <h3 class="form-signin-heading">Please sign in</h3>

          <input type="text" name="userName" class="form-control" ng-model="user.userName">
          <br />

          <input type="password" name="password" class="form-control" ng-model="user.password">

          <input type="button" value="Sign in" class="btn btn-lg btn-primary btn-block" ng-click="submit()" />
<form>
</div>

</body>
</html>
