<html>
<head>
  <script src="../scripts/jquery.min.js"></script>
  <script src="../scripts/bootstrap.min.js"></script>
  <script src="../scripts/angular.min.js"></script>
  <script src="../app/app.js"></script>
  <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-app="TicketApp">
<div class="container" ng-controller="signUpCtrl">
  <h2>Sign Up</h2>
  <form method="post" action="signup">
    <input type="button" ng-click="signUp()" name="btnSubmit" value="Save"/>
  </form>
</div>
</body>
</html>
